/* Main styles */

body {
    font-family: 'Avenir Next', Avenir, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
    color: #cecece;
    background: #2a2b30;
    font-family: "Lato", sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
    color: #fff;
    outline: none;
}

a:hover {
    color: #ddd;
}

.content {
    margin: auto;
    height: auto;
    position: relative;
    min-height: 300px;
    margin-left: 300px;
    align-self: center;
}

.content--loading {
    background: url(./MultiLevelMenu-master/img/loading.svg) no-repeat 50% 50%;
}


/* Blueprint header */

.bp-header {
    display: -webkit-flex;
    display: flex;
}

.bp-header__main {
    margin: 0 0 0 auto;
    padding: 2em 3em 0;
    text-align: right;
}

.bp-header__title {
    font-size: 1.3em;
    font-weight: 400;
    line-height: 1.3;
    margin: 0.25em 0 0;
}

.bp-header__present {
    font-size: 0.75em;
    font-weight: 700;
    position: relative;
    z-index: 100;
    display: block;
    margin: 0 -8px 0 0;
    padding: 0 0 0.6em 0;
    text-indent: 3px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #5c5edc;
}

.products {
    margin: 0;
    padding: 2em;
    text-align: center;
}


.info {
    font-size: 1.1em;
    font-weight: bold;
    padding: 20vh 1em 0;
    text-align: center;
    color: #47484c;
}

body #cdawrap {
    top: auto;
    bottom: 15px;
    background: rgba(0, 0, 0, 0.1);
}

body #cdawrap .carbon-text {
    color: #505158;
}

body #cdawrap a.carbon-poweredby {
    color: #7883c4;
}

body #cdawrap a:hover.carbon-poweredby {
    color: #fff;
}

@media screen and (max-width: 40em) {
    .bp-header {
        padding-top: 3em;
    }

    .bp-header__main,
    .bp-nav {
        width: 100%;
        text-align: center;
    }

    .dummy-logo {
        display: none;
    }

    .content {
        margin: 0;
    }

    body,
    .content {
        margin: auto;
        height: auto;
    }
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}


.link {
    position: relative;
    display: inline-block;
    padding: 3%;
}

.to-pointer {
    cursor: pointer;
}

.account_function {
    align: right;
}


/* product image gallery*/
/* The grid: Four equal columns that floats next to each other */
.img-column {
    padding: 2px;
}

/* Style the images inside the grid */
.img-column img {
    opacity: 0.8;
    cursor: pointer;
}

.img-column img:hover {
    opacity: 1;
}

.img-row {
    max-width: 500px;
    display: inline;
    overflow: auto;
}

/* Clear floats after the columns */
.img-row:after {
    content: "";
    display: table;
    clear: both;
}

/* The expanding image container */
.img-container {
    position: relative;
    max-width: 800px;
    width: 60%;

}

.cart-img-container {
    position: relative;
}

.cart-product-img {
    position: relative;
    width: 80%;
}


.cart-conform {
    width: 100%;
}

/* Expanding image text */
#imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
}

/* end product image gallery*/

#style-10::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
    border-radius: 10px;
}

#style-10::-webkit-scrollbar {
    width: 10px;
    background-color: #202b30;
}

#style-10::-webkit-scrollbar-thumb {
    background-color: #AAA;
    border-radius: 10px;
    background-image: -webkit-linear-gradient(30deg,
    rgba(0, 0, 0, .2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(0, 0, 0, .2) 50%,
    rgba(0, 0, 0, .2) 75%,
    transparent 75%,
    transparent)
}

.card-header {
    background-color: #cecece;
    color: #000000
}

.product-ul {
    padding: 0px;
}

.product-li {
    height: 280px;
    width: 200px;
    margin: 5px;
    background-color: #202b30;
    background-image: linear-gradient(#cecece, #343a40);
    border-radius: 50px 20px;
    overflow: hidden;
    position: relative;
}

.product-div {
    width: 100%;
    height: 100%;
    position: relative;
}

.producticon {
    display: inline;
    position: relative;
}

.overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    transition: background 0.5s ease;
}

.product-sale-icon{
    top:15px;
    right: 10px;
    position: absolute;
}

.product-li:hover .overlay {
    display: flex;
    background: rgba(0, 0, 0, .3);
}

.product-li:hover .product-cart {
    opacity: 1;
}

.product-cart {
    position: absolute;
    align-self: center;
    justify-content: center;
    opacity: 0;
    right: 15px;
    top: 240px;
    transition: opacity .35s ease;
    border: solid 1px white;
    background-color: black;
}

.product-info {
    margin-left: 10px;
    height: 80px;
}

.product-img {
    width: 200px;
    height: 200px;
}

.product-detail-img {
    width: 100%;
    height: 100%;
    min-width: 100px;
    min-height: 100px;
}

.product-img2 {
    width: 100%;
    height: 100%;
    min-width: 50px;
    min-height: 50px;
}

.product-discount-price {
    font-weight: 200;
}

.product-discount-off {
    font-weight: 200;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #2a2b30;
    margin: auto;
    padding: 2%;
    width: 60%;
}

.modal-product-img{
  width: 60%;
}

.modal-product-detail{
  width: 40%;
}
/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.productName {
    color: white;
    font-weight: bold;
    font-size: 30px;
    word-wrap: break-word;
}

.productOriPrice{
    color: red;
    font-weight: 200;
    font-size: 1vw;
}

.productPrice{
    color: white;
    font-weight: 200;
    font-size: 2vw;
}
/* remove input number Arrows/Spinners */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
/*end remove input number Arrows/Spinners*/

.card-body{
    background: #2a2b30;
}

/*Downloaded from https://www.codeseek.co/daviddarnes/css-sale-icon-qOmQeB */
.sale {
    position: relative;
    display: inline-block;
    background: red;
    color: white;
    height: 2.5rem;
    width: 2.5rem;
    text-align: center;
    vertical-align: middle;
    line-height: 2.5rem;
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
    -webkit-animation: beat 1s ease infinite alternate;
    animation: beat 1s ease infinite alternate;
}
.sale:before, .sale:after {
    content: "";
    position: absolute;
    background: inherit;
    height: inherit;
    width: inherit;
    top: 0;
    left: 0;
    z-index: -1;
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
}
.sale:after {
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg);
}

@-webkit-keyframes beat {
    from {
        -webkit-transform: rotate(-20deg) scale(1);
        transform: rotate(-20deg) scale(1);
    }
    to {
        -webkit-transform: rotate(-20deg) scale(1.1);
        transform: rotate(-20deg) scale(1.1);
    }
}

@keyframes beat {
    from {
        -webkit-transform: rotate(-20deg) scale(1);
        transform: rotate(-20deg) scale(1);
    }
    to {
        -webkit-transform: rotate(-20deg) scale(1.1);
        transform: rotate(-20deg) scale(1.1);
    }
}
